<?xml version="1.0" encoding="utf-8"?>
<configuration >
  <system.web>
    <compilation debug="true"/>
  </system.web>

  <appSettings configSource="config\appSettings.config"/>
  
  <system.serviceModel>
  
    <behaviors configSource="config\behaviors.config" />
    <services configSource="config\services.config" />
  
  </system.serviceModel>

</configuration>
