<?xml version="1.0" encoding="utf-8"?>
    <client>
      <endpoint address="http://localhost:8000/GettingStarted/CalculatorService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculator"
        contract="ServiceReference2.ICalculator" name="WSHttpBinding_ICalculator">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
 